<?xml version="1.0" encoding="UTF-8"?>
<devconfig>
    <zone>
        <zonename>Living Room</zonename>
        <abbreviation>LR</abbreviation>
        <targets>
            <target>
                <targetname>Ceiling Lamp 1</targetname>
                <abbreviation>CL1</abbreviation>
                <type>OnOff</type>
            </target>
            <address>14</address>
            <target>
                <targetname>Ceiling Lamp 2</targetname>
                <abbreviation>CL2</abbreviation>
                <type>OnOff</type>
                <address>12</address>
            </target>
        </targets>
    </zone>
    <zone>
        <zonename>Kitchen</zonename>
        <abbreviation>KI</abbreviation>
        <targets>
            <target>
                <targetname>Ceiling Lamp 1</targetname>
                <abbreviation>CL1</abbreviation>
                <type>OnOff</type>
                <address>33</address>
            </target>
            <target>
                <targetname>Ceiling Lamp 2</targetname>
                <abbreviation> CL2</abbreviation>
                <type>OnOff</type>
                <address>34</address>
            </target>
        </targets>
    </zone>
</devconfig>